
/* CSS Position Property: Static,Relative,Absolute,Fixed,Initial */
.comman{
    font-size: 30px;
    color: white;
}
.first{
    background-color: green;
}

/* .second{
    background-color: red;
    position: relative;
    left: 10px;
} */

/* .third{
    background-color: rgb(30, 42, 214);
} */

/* Relative : Default position property is Static.Position don't interfear 
 If position is relative and if u are giving lent: right: top: 10px , 
it will give spage from origin means it's own origin position.
it will find space into stack. */

/*Absolute : If you are using absolute property that section floting into space.
it will distrub entire element.Se example below . it will reference to 
parent position means first .*/
/* .second{
    background-color: red;
    position: absolute;
    top: 30px;
} */

.third{
    background-color: rgb(30, 42, 214);
    height: 40px;
}

.faimly{
    background-color: gray;
}
.parent{
    position: relative;
}

/* Fixed: it will sticked to current position if u scroll
page. */
.second{
    background-color: red;
    position: fixed;
}