body{
    background-color: rgb(215, 215, 221);
    height: 100%;
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1em;
}
.taskStatus{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    background-color: rgb(10, 112, 6);
    position: relative;
    min-height:10%;
    z-index: 10px;;
}


#pageHeaders{
 padding: 0em;
 height: 15%;
 width: 100%;
 border-radius: 1px 1px 1px 1px;
 background-color: darkcyan;
 text-align: center;
}